[Unit]
Description=Gunicorn instance to serve buildroot-packages
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/lib/buildroot-packages/
Environment="PATH=/var/lib/buildroot-packages/.venv/bin"
ExecStart=/var/lib/buildroot-packages/.venv/bin/gunicorn --workers 3 --bind 0.0.0.0:5000 -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
